.footer-bg{
  background-color: #12436b;
  color: white;
  
  a{
    text-decoration: none;
    color: white;
  }
 
}

nav{
  background-color: #113f65 !important;
  position: relative;
  z-index: 8;
  .nav-link{
    color: white !important;
  }
}


.hero-bg{
  background-image: url("Media/porkswap.png");
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100%;
  color: white;

}
.position-relative {
  position: relative !important;
  z-index: 5 !important;
}
.position-absolute {
  position: absolute !important;
  bottom: 0 !important;
  z-index: -1 !important;
}
.plateformbg{
  background-image: url("Media/product-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;

  .interface{
    color: #fc5b50;
  }


}
.interface{
  color: #fc5b50;
}


.governance-platform{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.utils-bg{
  background-color: #f3f7fa;
  .utils-card{
    min-height: 370px !important;
  }
}

.comparison-bg{
  background-image: url("Media/comparison.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  
}


.defla-card{
  
    min-height: 430px !important;
    border: none!important;
    
  
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 10px solid #F4F7FD !important;
}

.defla-card1{
  box-shadow: 0 6px 20px !important;
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_no-tabfocus__1HmyD {
  outline: none;
  padding: 20px !important;
}
.tokenbg{
  background-image: url("Media/tokenframe.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.token{
  position: relative;
  background-image: url("Media/token-base.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  max-width: 73.125rem;
  margin: 0 auto 2.5rem;
  
  width: 100%;
  height: 18.75rem;
  .team-locked{
    top: 49px;
    right: 0;
    position: absolute;
    color: #424242;
    width: 10.9375rem;}
    .liquidity{
      top: 47px;
      left: 20;
      position: absolute;
      color: #424242;
      width: 10.50rem;
    }
    .public{
    
      bottom: 115px;
      right: -10%;
      position: absolute;
        color: #424242;
        width: 10.9375rem;
    }
    .growth{
      bottom: 115px;
      left: -11%;
      position: absolute;
        color: #424242;
        width: 10.9375rem;
    }
  } 

@media screen and (max-width: 600px) {
  .token{
    position: relative;
    background-image: url("Media/token-base.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    max-width: 73.125rem;
    margin: 0 auto 2.5rem;
    
    width: 100%;
    height: 18.75rem;
    .team-locked{
      top: 73px;
    right: 0;
    position: absolute;
    color: #424242;
    width: 6.9375rem;
    font-size: 10px;
    }
    .liquidity{
    top: 71px;
    left: 20;
    position: absolute;
    color: #424242;
    width: 7.5rem;
    font-size: 10px;
    }
    .public{  
    bottom: 130px;
    right: -4%;
    position: absolute;
    color: #424242;
    width: 4.9375rem;
    font-size: 10px;
    }
    .growth{
    bottom: 130px;
    left: -11%;
    position: absolute;
    color: #424242;
    width: 7.9375rem;
    font-size: 10px;
      }
    } 
}

.token::before{
    right: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("Media/token-hover.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: -1;
}




